.resume {
  width: 100%;
  height: 100%;
  background: url(../../img/white_brick_wall.png) repeat;
  text-align: center;
}

/* music */
@-webkit-keyframes reverseRotataZ{
  0%{-webkit-transform: rotateZ(0deg);}
  100%{-webkit-transform: rotateZ(-360deg);}
}
@-webkit-keyframes rotataZ{
  0%{-webkit-transform: rotateZ(0deg);}
  100%{-webkit-transform: rotateZ(360deg);}
}
#musicControl { position:fixed;right:10px;top:20px;margin-top:0;display:inline-block;z-index:99999999}
#musicControl a { display:inline-block;width: 25px; height: 25px;overflow:hidden;background:url('../../img/mcbg.png') no-repeat;background-size:100%;}
#musicControl a audio{width:100%;height:56px;}
#musicControl a.stop { background-position:left bottom;}
#musicControl a.on { background-position:0px 1px;-webkit-animation: reverseRotataZ 1.2s linear infinite;}
#music_play_filter{width:100%;height:100%;overflow:hidden;position:fixed;top:0;left:0;z-index:99999998;}


.avatar {
  width: 150px;
  height: 150px;
  margin: auto;
  background: url(../../img/tf.jpg);
  background-size: 100% 100%;
  border-radius: 50%;
}

.introduce {
  width: 300px;
  margin: auto;
  font-size: 16px;
  color: #333;
  text-align: center;
}


.introduce p:nth-child(1) {
  -webkit-animation: animations2 2s ease-out 0.5s backwards;
  -moz-animation: animations2 2s ease-out 0.5s backwards;
  -o-animation: animations2 2s ease-out 0.5s backwards;
  -ms-animation: animations 2s ease-out 0.5s backwards;
  animation: animations2 2s ease-out 0.5s backwards;
}

.introduce p:nth-child(2) {
  -webkit-animation: animations 1s ease-out 2.5s backwards;
  -moz-animation: animations 1s ease-out 2.5s backwards;
  -o-animation: animations 1s ease-out 2.5s backwards;
  -ms-animation: animations 1s ease-out 2.5s backwards;
  animation: animations 1s ease-out 2.5s backwards;
}

.introduce p:nth-child(3) {
  -webkit-animation: animations 1s ease-in-out 3.5s backwards;
  -moz-animation: animations 1s ease-in-out 3.5s backwards;
  -o-animation: animations 1s ease-in-out 3.5s backwards;
  -ms-animation: animations 1s ease-in-out 3.5s backwards;
  animation: animations 1s ease-in-out 3.5s backwards;
}

.introduce p:nth-child(4) {
  -webkit-animation: animations 1s ease-in-out 4.5s backwards;
  -moz-animation: animations 1s ease-in-out 4.5s backwards;
  -o-animation: animations 1s ease-in-out 4.5s backwards;
  -ms-animation: animations 1s ease-in-out 4.5s backwards;
  animation: animations 1s ease-in-out 4.5s backwards;
}
.introduce p:nth-child(5) {
  -webkit-animation: animations 1s ease-in-out 5.5s backwards;
  -moz-animation: animations 1s ease-in-out 5.5s backwards;
  -o-animation: animations 1s ease-in-out 5.5s backwards;
  -ms-animation: animations 1s ease-in-out 5.5s backwards;
  animation: animations 1s ease-in-out 5.5s backwards;
}
@-webkit-keyframes animations {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes animations {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes animations {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes animations {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animations {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animations2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .8;
  }
  45% {
    opacity: .3;
  }
  50% {
    opacity: .8;
  }
  55% {
    opacity: .3;
  }
  60% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes animations2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .8;
  }
  45% {
    opacity: .3;
  }
  50% {
    opacity: .8;
  }
  55% {
    opacity: .3;
  }
  60% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes animations2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .8;
  }
  45% {
    opacity: .3;
  }
  50% {
    opacity: .8;
  }
  55% {
    opacity: .3;
  }
  60% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes animations2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .8;
  }
  45% {
    opacity: .3;
  }
  50% {
    opacity: .8;
  }
  55% {
    opacity: .3;
  }
  60% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animations2 {
  0% {
    opacity: 0;
  }
  40% {
    opacity: .8;
  }
  45% {
    opacity: .3;
  }
  50% {
    opacity: .8;
  }
  55% {
    opacity: .3;
  }
  60% {
    opacity: .8;
  }
  100% {
    opacity: 1;
  }
}